* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 16px;
  min-height: 0;
}

/* Основной фон панели */
window#waybar {
  background: transparent;
  color: #e6e6e6;
}
 
#custom-launcher,
#workspaces,
#temperature,
#memory,
#cpu,
#pulseaudio,
#language,
#clock,
#network,
#custom-power,
#tray {
  background: #1a1a1a;
  border-radius: 10px;
  padding: 4px 10px;
  margin: 6px 0;
  color: #e6e6e6;
}

/* Launcher */
#custom-launcher {
  margin-left: 8px;
  color: #5eb2ff;        /* telegram blue */
}

/* WORKSPACES */
#workspaces {
  padding: 2px 6px;
}

#workspaces button {
  background: transparent;
  border: none;
  border-radius: 8px;
  padding: 2px 10px;
  margin: 0 2px;
  color: #b0b0b0;
}

#workspaces button:hover {
  background: #3a3a3a;
  color: #ffffff;
}

#workspaces button.active {
  background: #464646;
  color: #ffffff;
}

/* Центральные метрики */
#temperature {
  color: #ffb86c;
}

#memory {
  color: #8be9fd;
}

#cpu {
  color: #bd93f9;
}

/* Звук */
#pulseaudio {
  color: #40c762;
}

#pulseaudio.muted {
  color: #888888;
}

/* Раскладка */
#language {
  color: #f1fa8c;
}

/* Часы */
#clock {
  font-weight: 600;
  color: #e6e6e6;
}

/* Сеть */
#network {
  color: #5eb2ff;
}

/* Power */
#custom-power {
  color: #ff5555;
}

/* Tray */
#tray {
  margin-right: 8px;
}

#custom-dnd {
  background: #1a1a1a;
  color: #e6e6e6;
  border-radius: 10px;
  padding: 4px 10px;
  margin: 6px 0px;
}

#custom-dnd.paused {
  color: #ff5555;
}

#bluetooth {
  background: #1a1a1a;
  color: #5eb2ff;      /* тот же акцент, что и сеть */
  border-radius: 10px;
  padding: 4px 10px;
  margin: 6px 0;
}

